## 复制为 .env.local，并填入真实值（不要提交到 git）
MOA_ENTRY_URL=https://mse.wemomo.com/apirest/httpproxy/moa/test
MOA_COOKIE=JSESSIONID=...; tunnel_login_session=...; auth_cookie=...;
MOA_ORIGIN=https://mse.wemomo.com
MOA_REFERER=https://mse.wemomo.com/
MOA_USER_AGENT=Mozilla/5.0
MOA_REQUEST_SOURCE=moaProxy

